{% extends 'base.html' %}
{%block start%}
    <!-- {{peoples}} -->
    <h1 class="">This is index page</h1>
    <a href="/about" class="">About</a>
    <hr>
    <a href="/contact">Contact</a>

    <table style="width:100%">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
            <th>Canvote</th>
        </tr>
        {%for people in peoples%}
        <tr>
            <td>{{forloop.counter}}
            </td>
            <td>{{people.name}}
            </td>
            <td>{{people.age}}
                {%firstof vegetables%}
            </td>
            <td>
                {% if people.age >= 18 %}
                <span style="background-color: lightgreen;">Yes</span>
                {% else %}
                <span style="background-color: lightsalmon;">No</span>
                {% endif %}
            </td>
        </tr>
        {%endfor%}
    </table>
    <p>{{text}}</p>
    <hr>
{% endblock %}